.relative.overflow-x-auto
  %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400{ "data-controller" => "team" }
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
      %tr
        %th.px-6.py-3{:scope => "col"}
          Name
        %th.px-6.py-3{:scope => "col"}
          Owned
        %th.px-6.py-3{:scope => "col"}
          Description
        %th.px-6.py-3{:scope => "col"}
          Members
    %tbody
      = render partial: "team", collection: @teams
