%tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
  %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{:scope => "row", "data-team-id-param" => "#{team.id}", "data-action" => "click->team#navigate"}
    = team.name
  %td.px-6.py-4
    = team.description
  %td.px-6.py-4
    = team.user_links
