.relative.overflow-x-auto
  %table.border.w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-blue-700.dark:text-gray-400
      %tr
        %th.px-6.py-3{scope: "col"}
          Full name
        %th.px-6.py-3{scope: "col"}
          email
        %th.px-6.py-3{scope: "col"}
          default password
    %tbody
      - @owners.each do |owner|
        %tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
          %td.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{scope: "row"}
            = owner.full_name
          %td.px-6.py-4
            = owner.email
          %td.px-6.py-4
            password
