.grid.grid-cols-3.gap-4.mb-4
  .flex.items-center.justify-center.h-24.rounded.bg-gray-50.dark:bg-gray-800
    = link_to "New team", new_team_path, class: "text-2xl text-blue-500 dark:text-blue-700"
  .flex.items-center.justify-center.h-24.rounded.bg-gray-50.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .flex.items-center.justify-center.h-24.rounded.bg-gray-50.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
.mb-4.p-10.rounded.bg-gray-50.dark:bg-gray-800
  %p.text-2xl List of users who are owners of teams
  = render partial: "owners_table"
.grid.grid-cols-2.gap-4.mb-4
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
.flex.items-center.justify-center.h-48.mb-4.rounded.bg-gray-50.dark:bg-gray-800
  %p.text-2xl.text-gray-400.dark:text-gray-500
    %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
.grid.grid-cols-2.gap-4
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-80
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .flex.items-center.justify-center.rounded.bg-gray-50.h-28.dark:bg-gray-800
    %p.text-2xl.text-gray-400.dark:text-gray-500
      %svg{"aria-hidden" => "true", :class => "w-3.5 h-3.5", :fill => "none", :viewbox => "0 0 18 18", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M9 1v16M1 9h16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}