.relative.overflow-x-auto
  %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
      %tr
        %th.px-6.py-3{:scope => "col"}
          ID
        %th.px-6.py-3{:scope => "col"}
          Email
        %th.px-6.py-3{:scope => "col"}
          Fullname
        %th.px-6.py-3{:scope => "col"}
          Username
        %th.px-6.py-3{:scope => "col"}
          Teams
    %tbody
      = render partial: "user", collection: @users
